// changed colors in bootsrap
$theme-colors: (
	'dark': #15142c46,
	'danger': #de5277
);
* {
	color: #fff;
	background-color: #15142c;
}
*::selection{
	background-color: #2B2350;
}
div{
	position: relative;
}
@import '~bootstrap/scss/bootstrap';
